<div class="row">
	<div class="col-12">
		<div class="card">
      <div class="card-header">
        <h4 class="card-title">Usuarios</h4>
      </div>
			<div class="card-body">
        <p>Lista de usuarios registrados</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">A. Paterno</th>
              <th scope="col">A. Materno</th>
              <th scope="col">Nombre</th>
              <th scope="col">Usuario</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{usuario.apellidoPaterno}}
              </td>
              <td>
                {{usuario.apellidoMaterno}}
              </td>
              <td>
                {{usuario.nombre}}
              </td>
              <td>
                {{usuario.userName}}
              </td>
              <td>
                {{usuario.role}}
              </td>
            </tr>
          </tbody>
        </table>
			</div>
		</div>
	</div>
</div>
