<div class="row">
	<div class="col-12">
		<div class="card">
      <div class="card-header">
        <h4 class="card-title">Usuarios</h4>
      </div>
			<div class="card-body">
        <p>Lista de usuarios registrados</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">A. Paterno</th>
              <th scope="col">A. Materno</th>
              <th scope="col">Nombre</th>
              <th scope="col">Usuario</th>
              <th scope="col">Role</th>
              <th scope="col">Activo</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{usuario.apellidoPaterno}}
              </td>
              <td>
                {{usuario.apellidoMaterno}}
              </td>
              <td>
                {{usuario.nombre}}
              </td>
              <td>
                {{usuario.userName}}
              </td>
              <td>
                {{usuario.role}}
              </td>
              <td>
                <i [ngClass]="(usuario.activo) ? 'fas fa-check-circle active' : 'fas fa-times-circle inactive'"></i>
              </td>
              <td>
                <a class="link me-2 m-1"  placement="top" ngbTooltip="Editar" (click)="editarUsuario(usuario)"><i class="fas fa-pencil-alt"></i></a>
                <a class="link me-2 m-1"  *ngIf="!usuario.activo" placement="top" ngbTooltip="Activar" (click)="activarUsuario(usuario)"><i class="fas fa-check-circle"></i></a>
                <a class="link me-2 m-1"  *ngIf="usuario.activo" placement="top" ngbTooltip="Desactivar" (click)="desactivarusuario(usuario)"><i class="fas fa-times-circle"></i></a>
                <a class="link me-2 m-1"  *ngIf="usuario.activo" placement="top" ngbTooltip="Reestablecer Contrasena" (click)="reestablecarPassword(usuario)"><i class="fas fa-key"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="nuevoUsuario()"><i class="mdi mdi-account-plus m-1"></i>Nuevo Usuario</button>
			</div>
		</div>
	</div>
</div>
