.active {
  color: #06d79c;
  font-size: xx-large;
}

.inactive {
  color: #e6294b;
  font-size: xx-large;
}


.form-control-feedback {
  color: #f62d51 !important;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50px;
  right: 40px;
  color: #FFF;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

// .table-responsive {
//     display: flex;
//     overflow: visible;
// }
.divScroll {
  max-height: 250px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
